*.log
*~
*.swp
backup
coreip
dm
work
synwork
syntmp
synlog
*.bit
*.dum
*.ini
*.h
*.jhd
*.jid
*.lct
*.naf
*.sty
*.tcl
bb_uart.b2?
bb_uart.bl?
bb_uart.cif
bb_uart.cmi
bb_uart.crf
bb_uart.d0
bb_uart.edi
bb_uart.exf
bb_uart.fse
bb_uart.htm
bb_uart.imp
bb_uart.ipr
bb_uart.l0
bb_uart.prj
bb_uart.rev
bb_uart.sif
bb_uart.srf
bb_uart.srm
bb_uart.srr
bb_uart.srs
bb_uart.xrf
lattice_cmd.rs2
run_options.txt
scratchproject.prs
*.err
bb_uart.eq3
bb_uart.fti
bb_uart.lco
bb_uart.ppn
bb_uart.rpt
bb_uart.svl
bb_uart.tda
bb_uart.tt4
*.lc_
syndos.env
*.bmp


